@media (orientation: portrait) {
    .rotate-screen {
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
  
    #gameScreen,
    #startScreen,
    #endScreenContainer,
    #gameButtons,
    #btnsContainer,
    canvas {
      display: none !important;
    }
  }










/* @media only screen and (min-width: 720px) {
  canvas {
    width: 100%;
  }
} */

/* @media only screen and (min-height: 480px) {
  canvas {
    height: 100vh;
  }
}
 */
/* @media screen and (min-width: 1024px) {
  .directions {
    max-width: 70%;
    max-height: 70%;
  }

  .directions-container,
  .directions-box {
    gap: 20px;
  }

  .headline {
    margin: 20px 0;
  }

  .info-box {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .info-box img {
    height: 60px;
  }

  h1 {
    display: none;
  }

  .btns-container {
    display: flex;
  }

  .about-game {
    max-height: 300px;
  }
} */

/* @media screen and (min-width: 600px) {
  .btns-left-side img,
  .btns-right-side img {
    width: 35px;
    height: 35px;
  }

  .game-buttons {
    height: 35px;
    top: 8px;
    right: 8px;
    gap: 8px;
  }

  .btns-container {
    bottom: 8px;
    left: 8px;
    right: 8px;
  }

  .btns-left-side,
  .btns-right-side {
    gap: 8px;
  }
} */

/* Diese Media Query zeigt rotateScreen automatisch an */
/* @media (orientation: portrait) and (min-width: 1024px) {
  .rotate-screen {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  #gameScreen,
  #startScreen,
  #endScreenContainer,
  #gameButtons,
  #btnsContainer,
  canvas {
    display: none !important;
  }
} */
