html,
body {
  height: 100%;
  font-family: 'Delius', sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #437da7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #355a77;
  border-radius: 10px;
}

.game-buttons-active img,
.play-again,
.info-box,
.imprint {
  cursor: pointer;
}

.loading-message {
  position: fixed;
  inset: 0;
  background-color: #1e3a8a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  z-index: 9999;
}

.fullscreen {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'headline'
    'game-screen';
  background: url('../assets/img/background/01/layers/l1-background-twisted.png') no-repeat center/cover;
  position: relative;
  color: white;
}

h1.headline {
  padding: 0.5em 0;
  grid-area: headline;
  display: none;
  text-align: center;
  padding: 0.5em 0;
  font-size: clamp(1rem, 1rem + 2.1vw, 2.5rem);
  color: white;
}

.headline.active {
  width: 100%;
  display: flex;
  align-items: center;
}

.headline.active>img {
  margin: 0 auto 0.3em 0;
  height: 50px;
}

.headline.active>h2 {
  margin: 0 auto 0.3em 0;
}

h2 {
  font-size: clamp(1rem, 1rem + 2.1vw, 2.5rem);
  margin: 0 0 0.3em;
  text-align: center;
}

.game-screen {
  grid-area: game-screen;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.start-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.start-container {
  position: fixed;
  width: 60%;
  height: 80%;
  max-height: 500px;
  padding: 1em;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  background-color: lch(74.72% 29.07 243.61 / 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: white 2px solid;
}

.instructions-box {
  width: 100%;
  height: 60%;
  display: flex;
}

.directions-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: clamp(0.9rem, 1rem + 0.5vw, 1.5rem);
}

.directions-box {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info-box {
  height: 100%;
  text-align: center;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.penguin,
.question-mark {
  width: clamp(60px, 6vw, 90px);
}

.imprint-wrapper {
  width: 100%;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imprint-wrapper>p {
  padding: 0.5em 1.5em;
  width: fit-content;
  font-weight: 600;
}

canvas {
  height: 95%;
  max-height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
}

.game-buttons-active {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 12px;
  z-index: 10;
}

.game-buttons-active img {
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.mobile-buttons-active {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.game-rules-wrapper {
  flex: 1;
  overflow-y: auto;
  padding: 0 12px 0 16px;
}

.game-rules-wrapper p,
.imprint-wrapper p,
address {
  font-size: clamp(0.9rem, 1rem + 0.5vw, 1.5rem);
  line-height: 1.2;
}

.imprint-wrapper p {
  line-height: 2;
}

table {
  margin: 0 0 1em;
  width: 100%;
}

th,
td {
  padding-block: 0.3em;
  font-size: clamp(0.9rem, 1rem + 0.5vw, 1.5rem);
}

thead th {
  text-align: left;
}

th {
  font-weight: 700;
}

.end-screen {
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.win,
.lose {
  font-size: clamp(1rem, 1rem + 2.1vw, 2.5rem);
  padding: 0.5em 0;
}

.win-container,
.lose-container {
  width: 100%;
  height: 100vh;
  background: url('../assets/img/background/01/layers/l1-background-twisted.png') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.win-box,
.lose-box,
.play-again {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 100vw;
  max-width: 600px;
  font-size: clamp(0.9rem, 1rem + 0.5vw, 1.5rem);
}

.coin-box {
  width: 135px;
  display: grid;
  grid-template-rows: 50px 100px 50px;
  align-items: center;
  justify-items: center;
}

.play-again {
  width: 135px;
  display: grid;
  grid-template-rows: 50px 1fr;
  align-items: center;
}

.play-again img {
  height: 100px;
}

.back-to-menu {
  width: 135px;
  display: grid;
  grid-template-rows: 150px 1fr;
  align-items: center;
  justify-items: center;
}

.back-to-menu img {
  width: 100px;
}

.info-box:hover,
.imprint:hover,
.play-again:hover,
.back-to-menu:hover {
  cursor: pointer;
  filter: brightness(80%);
  color: #F2F2F2;
}

.rotate-screen {
  display: none;
  position: fixed;
  inset: 0;
  background: #77c1e7;
  z-index: 100;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.confetti-canvas {
  position: absolute;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  z-index: 5;
  background: transparent;
  max-height: 100vh;
}

.d-none {
  display: none;
}