/* delius-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Delius';
    font-style: normal;
    font-weight: 400;
    src: url('font/delius-v19-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Delius';
    /* color: #355A77; */
}

.rotate-screen {
    height: 100vh;
    width: 100vw;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #77C1E7;
    font-size: 36px;
    font-weight: 700;
}

h1 {
    display: flex;
    justify-content: center;
}

canvas {
    background-color: black;
}

.start-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(img/background/01/layers/snowy01_preview-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.directions {
    width: 700px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(121, 198, 233, 0.8);
    border-radius: 20px;
}

.headline {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0 45px 0;
}

.headline img {
    position: absolute;
    margin-left: -210px;
    margin-right: auto;
    height: 50px;
}

.headline img:hover {
    cursor: pointer;
    filter: brightness(60%);
}

h2 {
    font-size: clamp(2rem, 0.664rem + 2.336vi, 3rem);
    margin-top: 30px;
    margin-block: unset;
}

.about-game {
    width: 90%;
    height: 80%;
    overflow-y: scroll;
    margin-left: 40px;
    padding-right: 12px;
}

.keyboard-instructions {
    margin: 12px 0 0 60px;
}

h4 {
    margin-bottom: 5px;
    margin-block: 2px;
}

td {
    width: 80px;
}

.directions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    font-size: 20px;
    font-weight: 600;
}

.directions-box {
    display: flex;
    gap: 100px;
    font-size: 20px;
    font-weight: 600;
}

.info-box {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-size: clamp(1.5rem, 0.832rem + 1.168vi, 2rem);
}

.info-box:hover,
.impressum:hover,
.play-again:hover {
    cursor: pointer;
    filter: brightness(90%);
    color: #F2F2F2;
}

.info-box img {
    max-height: 100px;
}

.impressum {
    font-size: 24px;
    margin-bottom: 30px;
}

.impressum-information {
    margin-top: 20px;
}

.d-none {
    display: none;
}

.win-container,
.lose-container {
    width: 100%;
    height: 100%;
}

.win,
.lose {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.win-box,
.lose-box {
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.win-box img {
    height: 100px;
}

.coin-box,
.play-again {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 202px;
}

.game-screen {
    position: relative;
}

.game-buttons {
    position: absolute;
    display: flex;
    height: 50px;
    gap: 12px;
    top: 12px;
    right: 15px;
}

.game-buttons img:hover {
    cursor: pointer;
}

.play-again img {
    height: 100px;
    width: 100px;
}

.btn-box {
    display: flex;
}

.btns-left-side {

}

.btns-right-side {

}

.btns-left-side:hover,
.btns-right-side:hover {
    cursor: pointer;
}


.btns-left-side img,
.btns-right-side img {
    width: 50px;
    height: 50px;
}

.heart {
    width: 50px; /* Größe der Herzen anpassen */
    height: auto;
    margin-right: 5px; /* Abstand zwischen den Herzen */
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #437DA7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #355A77;
    border-radius: 10px;
}

@media screen and (max-width: 915px) {
    .directions {
        max-width: 70%;
        max-height: 70%;
    }

    .directions-container,
    .directions-box {
        gap: 20px;
    }

    .headline {
        margin: 20px 0;
    }

    .info-box {
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .info-box img {
        height: 60px;
    }

    h1 {
        display: none;
    }

    canvas {
        height: 100vh;
        border-radius: 20px;
    }

    body {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #355A77;
    }

    .game-screen {
        display: grid;
        grid-template-columns: 1fr 9fr 1fr;
    }
}